<h1>Livro: </h1>
<div class="books-container">
<div>
    #{{book.id}} - <span class="bold">{{book.title}}</span> - {{book.pageqty}} páginas
   <a href="/books/edit/{{book.id}}">Editar</a>
</div>
</div>
