<h1>Olá handlebars</h1>
<p>O nome do usuário é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos</p>
<p>Teste de palavra: {{palavra}}</p>

{{#if auth}}
<p>VOcê está autenticado, <a href="/dashboard">clique aqui</a> para acessar a área de membros </p>
{{/if}}      